body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.dark {
    background-color: rgb(40, 40, 60);
}

body.dark .main-header, body.dark .about-header {
    color: rgb(230, 230, 235);
}

thead tr {
    background-color: rgb(100, 224, 88);
    color: white;
    font-size: 1.1rem;
}

.profile-image {
    width: 20rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: solid 10px rgb(164, 80, 255);
}

.name-header {
    color: rgb(123, 0, 255);
    font-weight: 900;
    text-transform: uppercase;
}

.about-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    font-size: 1.2rem;
    width: 6rem;
    align-self: flex-start;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-header {
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(40, 40, 60);
}

.about-header, .name-header {
    letter-spacing: 2px;
}

.task-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-list-entry {
    display: flex;
    flex-direction: row;
    background-color: rgb(97, 97, 230);
    color: white;
    text-decoration: none;
    margin: 0;
    min-width: 20rem;
    width: fit-content;
    padding: 1rem;
    transition-duration: 200ms;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
}

.task-list-entry:hover {
    background-color: rgb(87, 87, 220);
    cursor: pointer;
    transform: scale(1.05);
}

.task-list-entry:active {
    background-color: rgb(77, 77, 210);
    transform: scale(1);
}

.task-list-entry a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.task-list-entry svg {
    width: 2rem;
    height: 2rem;
}

.profile-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition-duration: 200ms;
}

.profile-btn:hover {
    background-color: rgb(50, 50, 50);
}

.profile-btn:active {
    background-color: rgb(60, 60, 60);
    transform: scale(0.98);
}

.profile-btn svg {
    width: 2rem;
    height: 2rem;
}

#theme-switcher-btn {
    position: absolute;
    align-self: flex-end;
    border: solid 1px transparent;
    background-color: rgb(87, 87, 220);
    color: white;
    border-radius: 100%;
    transition-duration: 200ms;
    padding: 0.25rem;
}

#theme-switcher-btn:hover {
    background-color: rgb(77, 77, 210);
    cursor: pointer;
}

#theme-switcher-btn:active {
    background-color: rgb(67, 67, 200);
    transform: scale(95%);
}

#theme-switcher-btn svg {
    width: 2rem;
    height: 2rem;
}

#theme-switcher-btn.dark {
    background-color: rgb(40, 40, 40);
}